.footer {
    background-color: #F9F9F9;
    border-top: 4px solid #F9F9F9;
  }
  .accordion-button::after {
    background-image: url("image/toggle-arrow.png");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("image/toggle-arrow.png")
  }
  .accordion {
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-btn-focus-border-color: none;
    --bs-accordion-btn-focus-box-shadow: none;
    --bs-accordion-active-bg: none;
    --bs-accordion-body-padding-y: none;
  }  